<!-- Editable table -->
<br/><br/>
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Burgers | All</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="md-form float-left">
                <input mdbInput type="text" [(ngModel)]="listFilter" name="text" id="form1" class="form-control">
                <label for="form1" class="">Filtering by name</label>
            </span>
            <span class="table-add float-right mb-3 mr-2">
                <a routerLink="create" class="text-success">
                    <mdb-icon fas icon="plus"></mdb-icon>
                </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center"
                   *ngIf="burgers && burgers.length; else elseBlock">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Recipe</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">View</th>
                    <th class="text-center">Edit</th>
                </tr>
                <tr *ngFor="let burger of filteredBurger | paginate: {id: 'burgers_data', itemsPerPage: 2, currentPage: currentPage, totalItems: totalRecords}; let i = index;">
                    <td>{{burger.name}}</td>
                    <td>{{burger.price}}&euro;</td>
                    <td>{{burger.description}}</td>
                    <td>{{burger.recipe}}</td>
                    <td>{{burger.quantity}}</td>
                    <td>
                        <span class="table-up">
                            <a [routerLink]="['show', burger.id]" class="text-primary">
                                <mdb-icon fas icon="eye"></mdb-icon>
                            </a>
                        </span>
                    </td>
                    <td>
                        <span class="table-up">
                            <a [routerLink]="['edit', burger.id]" class="indigo-text">
                                <mdb-icon fas icon="edit"></mdb-icon>
                            </a>
                        </span>
                    </td>
                </tr>
                <tr *ngIf="!filteredBurger.length && listFilter.length">
                    <td colspan="10">No data found</td>
                </tr>
            </table>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="flex-center">
            <span class="font-weight-bold text-uppercase py-4" style="position: relative; top: 45px; right: 80px;">No more data</span>
        </div>
    </ng-template>
    <nav aria-label="Page navigation example" class="flex-center">
        <div>
            <pagination-controls id="burgers_data" class="pagination pg-blue" maxSize="5" directionLinks="true"
                                 (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </nav>
</div>
<br/><br/>
<!-- Editable table -->
